html {
	background: #18182c 100% 100%/ 100px 200px no-repeat url('./rainbow.png');
	min-height:100%;
}

body {
	color:#e3e3e3;
	font-family: Helvetica, Arial, sans-serif;
	max-width: 40em;
	margin:auto;
	line-height: 1.5;
}

a {
	color:#49b6b6;
}
a:visited {
	color:#ff6dff;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: none;
	font-weight:normal;
	margin:0;
}
h1 {
	text-transform: uppercase;
	font-weight: lighter;
	font-size:2rem;
	margin: 0.25em 0;
}
h2 {
	font-weight: 600;
	font-size: 1.8rem;
}

p.note {
	font-style: italic;
}

nav ul {
	list-style: none;
	display:block;
	margin:0 0 2em;
	padding:0;
}
nav ul li {
	list-style: none;
	display:inline-block;
	margin:0;
	padding:0.5em 0.5em;
}
nav ul li.title {
	padding-left:0;
}

nav li.active {
	background:#eee;
	color:#000;
	border-radius: 0 0 10px 10px;
}

nav li.active a {
	color:inherit;
	text-decoration: none;
}

.emulator {
	width:640px;
	height:auto;
	margin: 20px -24px;
	background-color: white;
	border: 24px solid black;
	border-radius:32px;
}
.emulator canvas {
	border-radius: 8px;
}

blockquote.example {
	background: #151520;
	margin:0 -16px;
	padding:1ex 24px;
}

code {
	background: #151520;
	font-weight: bold;
}

footer {
	font-size:80%;
	padding: 0.25em 0 0.75em;
}

kbd {
	border: 1px solid;
	padding: 2px 3px;
	border-radius:3px;
}